[submodule "packages/UnityDoorstop"]
	path = packages/UnityDoorstop
	url = https://github.com/Workbench-ML/UnityDoorstop.git
[submodule "packages/mono-workbench"]
	path = packages/mono-workbench
	url = https://github.com/Workbench-ML/mono.git
	branch = workbench-mono
